body{
    font-family: monospace;
}
#calculator-keys{
    flex-wrap: wrap;
    justify-content: center;
}
#calculator-container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #FF68BF;
    border-radius: 20px;
}
#calculator-keys p{
    font-size: 1rem;
}
#content{
    font-size: 1.5rem;
    background-color: white;
    border: 25px solid #FF68BF;
    border-radius: 35px;
    height: 40px;
    padding-top: 15px;
    margin: 0;
}


